@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 150vh;
    font-family: 'poppins', sans-serif;
    background: rgb(20,20,20);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    transition: opacity .5s;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    /* border-radius: 40px; */
    overflow: hidden;
    /* box-shadow: 0px 5px 25px -8px #000; */
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
}
header::after {
    content: '';
    position: absolute;
    /* width: 100%;
    height: 100%; */
    background: linear-gradient(180deg, transparent, #000);
    z-index: -1;
}

img {
    pointer-events: none;
}


.bi-chevron-right:hover {
    font-size: 100px;
}


header video {
    position: absolute;
    width: 120%;
    height: 200%;
    top: -70%;
    right: 0;
    z-index: -3;
}



header .show_image {
    background-position: 50%;
    background-size: cover;
    bottom: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    width: 100%;
    z-index: -999;
}

/* header .videovignette {
    background: linear-gradient(90deg,#000,transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 10.09%;
    top: 0;
    transition: opacity .5s;
} */
header .videovignette {
    background: linear-gradient(77deg,rgba(0,0,0,.6),transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 26.09%;
    top: 0;
    transition: opacity .5s
}
header .vignette-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: 460px;
    height: 14.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
    z-index: 2;
}

header nav {
    position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    background: unset;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    transition: background-color 0.4s ease-in-out;
    z-index: 99;
}

.vignette {
    position: fixed;
    width: 101%;
    height: 7%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    padding: 0px 50px;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    z-index: 99;
}

header nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

header nav .logo{
    color: red;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
    transition: .3s linear;
}
header nav .logo_ul a:hover{
    color: red;
    text-decoration: none;
    /* font-size: 20px; */
}

header nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 15px;
}

header nav .logo_ul ul li{
    padding: 3px 15px;
}

header nav .logo_ul ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}
header nav .logo_ul ul li a:hover{
    color: rgb(255, 255, 255, .7);
}

.hamburger {
    display: none;
    cursor: pointer;
    right: 0;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu{
    position: absolute;
    justify-content: space-between;
    display: flex;
    right: 40px;
}
.nav-item{
    width: 90%;
    display: flex;
    right: 40px;
}

@media screen and (width: 320px){
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: 15px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 280px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        opacity: 1;
        color: #fff;
        margin-top: 105px;
    }

    .nav-menu.active{
        left: 0;
        margin-left: 1000px;
    }
}
@media(max-width: 900px){
    * {
        font-size: 16px;
    }
    .content {
        margin-top: 200px;
    }
    header video {
        position: absolute;
        width: 520%;
        height: 200%;
    }
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    .search_input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: -110px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: -170px;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }

    .nav-menu.active{
        left: 0;
        margin-left: 450px;
    }
}
@media(max-width: 840px){
    header video {
        position: absolute;
        width: 520%;
        height: 200%;
    }
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    .search_input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: -110px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: -170px;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }

    .nav-menu.active{
        left: 0;
        margin-left: 420px;
    }
}
@media(max-width: 785px){
    header video {
        position: absolute;
        width: 520%;
        height: 200%;
    }
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    .search_input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: -110px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: -170px;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }

    .nav-menu.active{
        left: 0;
        margin-left: 380px;
    }
}
@media(max-width: 710px){
    header video {
        position: absolute;
        width: 520%;
        height: 200%;
    }
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    .search_input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: -110px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: -170px;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }

    .nav-menu.active{
        left: 0;
        margin-left: 350px;
    }
}
@media(max-width:690px){
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    .search_input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: -120px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 125px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: -150px;
        opacity: 1;
        color: #fff;
        margin-top: 114.8px;
    }

    .nav-menu.active{
        left: -8px;
        margin-left: 360px;
    }
}
@media(max-width:655px){
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    .search_input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: -120px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 125px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: -150px;
        opacity: 1;
        color: #fff;
        margin-top: 114.8px;
    }

    .nav-menu.active{
        left: -8px;
        margin-left: 320px;
    }
}
@media(max-width:585px){
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    .search_input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: -120px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 125px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: -150px;
        opacity: 1;
        color: #fff;
        margin-top: 114.8px;
    }

    .nav-menu.active{
        left: -8px;
        margin-left: 280px;
    }
}
@media(max-width:510px){
    .hamburger{
        position: absolute;
        display: block;
        right: 10%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-menu .logo_ul ul{
        position: fixed;
        top: 70px;
        padding-bottom: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 20, 20);
        width: 107%;
        transition: 0.3s;
    }

    header nav .search_user button i{
        display: none;
    }
    .search_input{
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #fff;
        margin-left: -120px;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: 125px;
    }
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-right: -150px;
        opacity: 1;
        color: #fff;
        margin-top: 114.8px;
    }

    .nav-menu.active{
        left: -8px;
        margin-left: 250px;
    }
}

header nav .nav-menu .nav-item .search_user {
    position: relative;
    size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav .search_user button {
    width: 18px;
    left: 15px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);
    background-color: transparent;
    position: absolute;
}
header nav .search_user button:hover {
    font-size: 16px;
}

.search_input {
    width: 0;
    height: 34px;
    background: transparent;
    box-shadow: none;
    color: #fff;
    border: 1px solid transparent;
    cursor: default;
    outline: none;
    padding-left: 35px;
    font-size: 16px;
    transition: 0.3s ease all;
}
.search_input.show {
      width: 240px;
      border-color: #fff;
      background-color: #000;
      cursor: auto;
    }

header nav .search_user input::placeholder{
    color: #fff;
    font-size: 12px;
}

header nav .search_user img {
    width: 23px;
    height: 23px;
    border-radius: 20%;
    cursor: pointer;
    transition: .3s linear;
}
header nav .search_user img:hover {
    width: 28px;
    height: 28px;
    border-radius: 20%;
    cursor: pointer;
}

header nav .search_user .search {
    position: absolute;
    width:  320px;
    height: 200px;
    /* border: 1px solid #fff; */
    /* background: rgb(20, 20, 20); */
    visibility: hidden;
    right: 0;
    top: 40px;
    z-index: 99999;
    overflow-x: hidden;
}
header nav .search_user .search::-webkit-scrollbar {
    width: 5px;
    background: rgb(20,20,20, .3);
    border-radius: 5px;
    visibility: hidden;
}
header nav .search_user .search::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(0, 0, 0, .8);
    border-radius: 5px;
    visibility: hidden;
}
header nav .search_user .search:hover::-webkit-scrollbar {
    visibility: visible;
}


header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    outline: rgb(20,20,20);
    border: rgb(20,20,20);
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    display: none;
}

header nav .search_user .search .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(20,20,20);
    border-radius: 5px;
    z-index: -1;
}

header nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 2px;
    margin-left: 8px;
}
header nav .search_user .search .card .cont {
    margin-left: 10px;
    color: #fff;
}
header nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}
header nav .search_user .search .card .cont p {
    font-size: 10px;
    color:rgb(255, 255, 255, .8);
}

header .content {
    position: relative;
    color: #fff;
    top: auto;
    font-size: 25px;
    margin-top: 150px;
    padding-left: 80px;
}

header .content .contImage {
    margin-bottom: 1.2vw;
    margin-left: 0;
    min-height: 5.2vw;
    position: relative;
}
header .content .contImage img {
    left: 0;
    bottom: 0;
    width: 20%;
}
header .content .details {
    display: flex;
    align-items: center;
    margin-top: 0px;
    z-index: 1;
}
header .content .detailsAll {
    color: #fff;
}
header .content h1 {
    font-size: 25px;
    width: 300px;
    z-index: -1;
}
header .content .detailsAll p {
    color: #fff;
    font-size: 10px;
    width: 350px;
}
header .content .details h3 {
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
}
header .content .details h5 {
    color: rgb(142, 230, 48);
    font-size: 10px;
    margin-right: 10px;
}
header .content .details h4 {
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}
header .content .btn {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
header .content .btn .playbutton {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    /* opacity: 1; */
    padding: 0.5rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
    margin-right: 10px;
}

  .playbutton:before {
    content: '';
    background: #ffffff;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1;
  }
  .playbutton:hover:before {
    width: 100%;
  }
  header .content .btn .playbutton:hover a {
    color: #000;
  }
  .download_main:before {
    content: '';
    background: #fff;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1;
  }
  .download_main:hover:before {
    width: 100%;
  }
  header .content .btn .download_main:hover a {
    color: #000;
  }
header .content .btn .download_main i {
    width: 100%;
    height: 100%;
}
header .content .btn .playbutton a {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: 0px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    position: relative;
    user-select: none;
    text-decoration: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
}
header .content .btn .download_main {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: 0px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 0.5rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    cursor: pointer;
    display: flex;
    background: transparent;
    justify-content: center;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
}

header .content .btn .download_main a {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    color: #fff;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    position: relative;
    user-select: none;
    text-decoration: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
}
header .content .btnsound {
    outline: none;
    align-items: center;
    margin-right: 20px;
    float: right;
    outline: none;
    border-radius: 50%;
    justify-content: space-around;
    display: flex;
}
header .content .btnsound button {
    padding: 0.5rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    display: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    /* opacity: 1; */
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin-right: 5px;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
}
header .content .btnsound button:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 2px solid #000;
}

header .content .btnsound .rate {
    align-items: center;
    background-color: rgba(51,51,51,.6);
    font-family: 'Lato', sans-serif;
    border: 3px #dcdcdc;
    border-left-style: solid;
    box-sizing: border-box;
    display: none;
    font-size: 1.1vw;
    height: auto;
    padding: 0.5vw 3.5vw 0.5vw 0.8vw;
}

header .content .btn .playicon {
    color: #fff;
    fill: #fff;
}




header section .alltype {
    position: absolute;
    width: 103%;
    height: auto;
    padding: 0px 50px;
    bottom: 460px;
    color: #fff;
    overflow-y: visible;
    /* background: rgb(20,20,20); */
    z-index: 2;
}

header section .alltype .alltypecards {
    position: relative;
    width: 100%;
    height: 200px;
    /* border: 1px solid #fff; */
    margin-top: 10px;
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) -1))) / var(--per-view));
    grid-gap: 1.0rem;
    scroll-behavior: smooth;
    overflow-x: auto;
    left: 0;
    transition: .3s;
}

.alltypecards > * {
    aspect-ratio: 4 / 3;
}

header section .alltype .alltypecards::-webkit-scrollbar {
    display: none;
}

header section .alltype .alltypecards .card {
    position: relative;
    min-width: 300px;
    height: 180px;
    /* border: 1px solid #fff; */
    background: #000;
    transition: transform 500ms;
    transition-delay: .44s;
    overflow-y: hidden;
    overflow-x: hidden;
}
header section .alltype .alltypecards .card::-webkit-scrollbar {
    display: none;
}

header section .alltype .alltypecards .card .posterimage .poster {
    width: 100%;
    height: 180px;
    /* border-radius: 8px; */
    position: relative;
    z-index: 999;
}


.alltype .alltypecards:focus-within .card,
.alltype .alltypecards:hover .card {
  transform: translateX(15%);
}
.alltype .alltypecards:focus-within .card,
.alltype .alltypecards:hover .card {
  transform: translateX(-15%);
}


.alltype .alltypecards .card:focus,
.alltype .alltypecards .card:hover {
  transform: scale(1.044);
  z-index: 2;
}

.alltype .card:focus ~ .card,
.alltype .card:hover ~ .card {
  transform: translate(15%);
}


header section .alltype .alltypecards .card .rest_card {
    position: absolute;
    width: 103%;
    height: 110%;
    left: 0;
    top: 0;
    z-index: 999999;
    opacity: 0;
    transition: 1s;
    transition-delay: .44s;
}

header section .alltype .alltypecards .card .rest_card video {
    position: absolute;
    width: 100%;
    height: 170px;
    top: 0;
    border-radius: 8.5px;
    z-index: -1;
}

header section .alltype .alltypecards .card .rest_card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
}

header section .alltype .alltypecards .card .rest_card .cont {
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg,#000,transparent 100%);
    bottom: 17px;
    left: 0;
    color: #fff;
    padding: 0px 20px;
}

header section .alltype .alltypecards .card .rest_card .cont .more {
    position: absolute;
    width: 100%;
    left: 250px;
    font-size: 30px;
    top: 0px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    z-index: 2;
    transition: all .3s;
}
header section .alltype .alltypecards .card .rest_card .cont .more a {
    text-decoration: none;
    color: #fff;
}
header section .alltype .alltypecards .card .rest_card .cont .more:hover {
    color: #fafafa;
}


header section .alltype .alltypecards .card .rest_card .cont .sub {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section .alltype .alltypecards .card .rest_card .cont .sub p {
    font-size: 12px;
    font-weight: 400;
}

header section .alltype .alltypecards .card:hover .rest_card {
    opacity: 1;
}

header section .alltype .bi-chevron-left{
    position: absolute;
    top: 50%;
    left: 10;
    width: 25px;
    height: 25px;
    /* background:rgb(255, 255, 255, .3); */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    transition: .3s width, .3s opacity;
    z-index: 999999999;
    opacity: 0;
}
header section .alltype .bi-chevron-right {
    left: unset;
    right: 5%;
    font-size: 50px;
    background: none;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    transition: .3s width, .3s opacity;
    z-index: 999999999;
    opacity: 0;
}
header section:hover .alltype .bi-chevron-right {
    opacity: 1;
}

header section .alltype .bi-chevron-right:hover {
    font-size: 60px;
}
header section .alltype .bi-chevron-left:hover {
    font-size: 60px;
}

header section:hover .alltype .bi-chevron-left {
    opacity: 1;
}



header section .moviestype {
    position: absolute;
    width: 103%;
    height: auto;
    padding: 0px 50px;
    bottom: 230px;
    color: #fff;
    background: rgb(20,20,20);
    z-index: 2;
}

header section .moviestype .moviecards {
    position: relative;
    width: 100%;
    height: 200px;
    /* border: 1px solid #fff; */
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) -1))) / var(--per-view));
    grid-gap: 1.0rem;
    scroll-behavior: smooth;
    overflow-x: auto;
    left: 0;
    transition: .3s;
}
.moviecards > * {
    aspect-ratio: 4 / 3;
}
header section .moviestype .moviecards::-webkit-scrollbar {
    display: none;
}

header section .moviestype .moviecards .card {
    position: relative;
    min-width: 300px;
    height: 180px;
    /* border: 1px solid #fff; */
    background: #000;
    transition: transform 500ms;
    transition-delay: .44s;
    overflow-y: hidden;
    overflow-x: hidden;
}

header section .moviestype .moviecards .card .posterimage .poster {
    width: 100%;
    height: 180px;
    /* border-radius: 8px; */
    position: relative;
    z-index: 999;
}

.moviestype .moviecards:focus-within .card,
.moviestype .moviecards:hover .card {
  transform: translateX(15%);
}
.moviestype .moviecards:focus-within .card,
.moviestype .moviecards:hover .card {
  transform: translateX(-15%);
}


.moviestype .moviecards .card:focus,
.moviestype .moviecards .card:hover {
  transform: scale(1.044);
  z-index: 2;
}

.moviestype .card:focus ~ .card,
.moviestype .card:hover ~ .card {
  transform: translate(15%);
}


header section .moviestype .moviecards .card .rest_card {
    position: absolute;
    width: 100%;
    height: 110%;
    left: 0;
    top: 0;
    z-index: 999999;
    opacity: 0;
    transition: 1s;
    transition-delay: .44s;
}

header section .moviestype .moviecards .card .rest_card video {
    position: absolute;
    width: 100%;
    height: 170px;
    top: 0;
    border-radius: 8.5px;
    z-index: -1;
}

header section .moviestype .moviecards .card .rest_card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
}

header section .moviestype .moviecards .card .rest_card .cont {
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg,#000,transparent 100%);
    bottom: 17px;
    left: 0;
    color: #fff;
    padding: 0px 20px;
}

header section .moviestype .moviecards .card .rest_card .cont .more {
    position: absolute;
    width: 100%;
    left: 250px;
    font-size: 30px;
    top: 0px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    z-index: 2;
    transition: all .3s;
}
header section .moviestype .moviecards .card .rest_card .cont .more a {
    text-decoration: none;
    color: #fff;
}
header section .moviestype .moviecards .card .rest_card .cont .more:hover {
    color: #fafafa;
}

header section .moviestype .moviecards .card .rest_card .cont .sub {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section .moviestype .moviecards .card .rest_card .cont .sub p {
    font-size: 12px;
    font-weight: 400;
}

header section .moviestype .moviecards .card:hover .rest_card {
    opacity: 1;
}

header section .moviestype .bi-chevron-left{
    position: absolute;
    top: 50%;
    left: 10;
    width: 25px;
    height: 25px;
    /* background:rgb(255, 255, 255, .3); */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    transition: .3s width, .3s opacity;
    z-index: 999999999;
    opacity: 0;
}
header section .moviestype .bi-chevron-right {
    left: unset;
    right: 5%;
    font-size: 50px;
    background: none;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    transition: .3s width, .3s opacity;
    z-index: 999999999;
    opacity: 0;
}
header section:hover .moviestype .bi-chevron-right {
    opacity: 1;
}

header section .moviestype .bi-chevron-right:hover {
    font-size: 60px;
}
header section .moviestype .bi-chevron-left:hover {
    font-size: 60px;
}

header section:hover .moviestype .bi-chevron-left {
    opacity: 1;
}


header section .seriestype {
    position: absolute;
    width: 103%;
    height: auto;
    padding: 0px 50px;
    bottom: 0;
    color: #fff;
    background: rgb(20,20,20);
    z-index: 2;
}

header section .seriestype .seriescards {
    position: relative;
    width: 100%;
    height: 200px;
    /* border: 1px solid #fff; */
    margin-top: 10px;
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) -1))) / var(--per-view));
    grid-gap: 1.0rem;
    scroll-behavior: smooth;
    overflow-x: auto;
    left: 0;
    transition: .3s;
}
header section .seriestype .seriescards::-webkit-scrollbar {
    display: none;
}

header section .seriestype .seriescards .card {
    position: relative;
    min-width: 300px;
    height: 180px;
    /* border: 1px solid #fff; */
    /* border-radius: 8px; */
    background: #000;
    transition: transform 500ms;
    transition-delay: .44s;
    overflow-y: hidden;
    overflow-x: hidden;
}

header section .seriestype .seriescards .card .posterimage .poster {
    width: 100%;
    height: 180px;
    /* border-radius: 8px; */
    position: relative;
    z-index: 999;
}

.seriestype .seriescards:focus-within .card,
.seriestype .seriescards:hover .card {
  transform: translateX(15%);
}
.seriestype .seriescards:focus-within .card,
.seriestype .seriescards:hover .card {
  transform: translateX(-15%);
}


.seriestype .seriescards .card:focus,
.seriestype .seriescards .card:hover {
  transform: scale(1.044);
  z-index: 2;
}

.seriestype .card:focus ~ .card,
.seriestype .card:hover ~ .card {
  transform: translate(15%);
}

header section .seriestype .seriescards .card .rest_card {
    position: absolute;
    width: 100%;
    height: 110%;
    left: 0;
    top: 0;
    z-index: 999999;
    opacity: 0;
    transition: 1s;
    transition-delay: .44s;
}

header section .seriestype .seriescards .card .rest_card img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8.5px;
    z-index: -1;
}

header section .seriestype .seriescards .card .rest_card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
}

header section .seriestype .seriescards .card .rest_card .cont {
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg,#000,transparent 100%);
    bottom: 17px;
    left: 0;
    color: #fff;
    padding: 0px 20px;
}

header section .seriestype .seriescards .card .rest_card .cont .more {
    position: absolute;
    width: 100%;
    left: 250px;
    font-size: 30px;
    top: 0px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    z-index: 2;
    transition: all .3s;
}
header section .seriestype .seriescards .card .rest_card .cont .more a {
    text-decoration: none;
    color: #fff;
}
header section .seriestype .seriescards .card .rest_card .cont .more:hover {
    color: #fafafa;
}

header section .seriestype .seriescards .card .rest_card .cont .sub {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section .seriestype .seriescards .card .rest_card .cont .sub p {
    font-size: 12px;
    font-weight: 400;
}

header section .seriestype .seriescards .card:hover .rest_card {
    opacity: 1;
}

header section .seriestype .bi-chevron-left{
    position: absolute;
    top: 50%;
    left: 10;
    width: 25px;
    height: 25px;
    /* background:rgb(255, 255, 255, .3); */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    transition: .3s width, .3s opacity;
    z-index: 999999999;
    opacity: 0;
}
header section .seriestype .bi-chevron-right {
    left: unset;
    right: 5%;
    font-size: 50px;
    background: none;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    transition: .3s width, .3s opacity;
    z-index: 999999999;
    opacity: 0;
}
header section:hover .seriestype .bi-chevron-right {
    opacity: 1;
}

header section .seriestype .bi-chevron-right:hover {
    font-size: 60px;
}
header section .seriestype .bi-chevron-left:hover {
    font-size: 60px;
}

header section:hover .seriestype .bi-chevron-left {
    opacity: 1;
}

@media screen and (max-width: 1250px){
    header video {
        left: -50%;
        width: 250%;
        height: 200%;
    }
    
    header .show_image {
        left: -50%;
        width: 200%;
        height: 100%;
    }
    
    header .vignette-layer {
        background-color: transparent;
        background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
        /* background-position: 100 bottom; */
        position: absolute;
        top: 0;
        right: 0;
        background-repeat: repeat-x;
        background-size: 100% 100%;
        bottom: 460px;
        height: 24.7vw;
        opacity: 8;
        top: auto;
        width: 200%;
        z-index: 2;
    }
}
@media screen and (max-width: 360px){
    header{
        width: 100%;
        height: 200%;
    }
    header nav {
        padding: 0px 10px;
        height: 15%;
    }
    header nav .logo_ul ul {
        position: absolute;
        top: 0px;
        left: 10px;
    }
    header nav .logo_ul ul li {
        padding: 3px 5px;
    }
    header nav .logo_ul ul li a {
        font-size: 1.5vw;
    }
    header .content {
        padding-left: 10px;
    }
}
@media screen and (max-width: 562px){
    header video {
        position: absolute;
        width: 520%;
        height: 200%;
    }
@media screen and (max-width: 556px){
    header video {
        position: absolute;
        width: 520%;
        height: 200%;
    }
}}
@media screen and (max-width: 360px){
    header{
        width: 100%;
        height: 200%;
    }
    header nav {
        padding: 0px 10px;
        height: 15%;
    }
    header nav .logo_ul ul {
        position: absolute;
        top: 0px;
        left: 10px;
    }
    header nav .logo_ul ul li {
        padding: 3px 5px;
    }
    header nav .logo_ul ul li a {
        font-size: 1.5vw;
    }
    header .content {
        padding-left: 10px;
    }
}
@media screen and (max-width: 562px){
    header video {
        position: absolute;
        width: 520%;
        height: 200%;
    }
@media screen and (max-width: 556px){
    header video {
        position: absolute;
        width: 520%;
        height: 200%;
    }
}}

@media screen and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4 / 3) {
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }

    .nav-menu.active{
        width: 200%;
        left: 0;
        margin-left: 230px;
    }
}
@media(max-width: 430px) and (max-aspect-ratio: 4 / 3) {
    .search{
        font-size: 20px;
        /* border: 1px solid #fff; */
        outline: none;
        /* background: rgb(20,20,20); */
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        opacity: 1;
        color: #fff;
        margin-top: 120px;
    }

    .nav-menu.active{
        width: 200%;
        left: 0;
        margin-left: 200px;
    }
}
@media screen and (width: 540px){
    .search{
        font-size: 20px;
        border: 1px solid #fff;
        outline: none;
        background: rgb(20,20,20);
        display: flex;
        flex-direction: column;
        margin-right: 800px;
        opacity: 1;
        color: #fff;
        margin-top: 105px;
    }
}
